/* Vincular e insertar la tipografia de google fonts a traves de la etiqueta import url */
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
    background-color: #EDF7FF;
}
h1 {
    font-family: "MuseoModerno", sans-serif;
    font-size: 117px;
    font-weight: bold;
    color: #0a2ff1;
}
h2 {
    font-family: "Asap Condensed", sans-serif;
    font-size: 52px;
    font-weight: regular;
    color: blue;
}
p {
    font-family: "Asap Condensed", sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: #04146c;
}
h3 {
    font-family: "MuseoModerno", sans-serif;
    font-size: 48px;
    color: blue;
}
ul {
    font-family: "Asap Condensed", sans-serif;
    font-size: 33px;
    font-weight: bold;
    color: #04146c;

}

h4 {
    font-family: "MuseoModerno", sans-serif;
    font-size: 199px;
    font-weight: old;
    color: #8a9af1;
}
